<div class="site-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 mb-5 mb-md-0">

              <div class="img-border">
                <a href="https://vimeo.com/28959265" class="popup-vimeo image-play">
                  <span class="icon-wrap">
                    <span class="icon icon-play"></span>
                  </span>
                  <img src="{{ url_for('static', filename='images/img_2.jpg')}}" alt="" class="img-fluid">
                </a>
              </div>

              <img src="{{ url_for('static', filename='images/img_1.jpg')}}" alt="Image" class="img-fluid image-absolute">

          </div>
          <div class="col-md-5 ml-auto">


            <div class="section-heading text-left">
              <h2 class="mb-5">Nói về chúng tôi</h2>
            </div>
            <p class="mb-4">Được thiết kế cho cả các chuyến du lịch nghỉ ngơi và công tác,
                Hoàng Gia Hotel tọa lạc tại vị trí lí tưởng ở Quận 1 - TP. HCM; một trong những
                khu vực nổi tiếng của thành phố. Tọa lạc ở vị trí chỉ cách trung tâm thành phố 0.5 km,
                khách hàng sẽ có được chỗ ở tốt để tận hưởng các điểm thú vị và hoạt động nổi tiếng ở đây.
                Như một thiên đường nghỉ dưỡng và thư giãn, khách sạn mang lại sự đổi mới hoàn toàn so với những điểm
                thú vị trong thành phố như chợ Bến Thành,....</p>
            <p><a href="https://vimeo.com/28959265" class="popup-vimeo text-uppercase">Xem Video <span class="icon-arrow-right small"></span></a></p>
          </div>
        </div>
      </div>
    </div>