<div class="slide-one-item home-slider owl-carousel">

      <div class="site-blocks-cover overlay" style="background-image: url({{ url_for('static', filename='images/hero_1.jpg')}});" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center" data-aos="fade">

              <h1 class="mb-2">Chào mừng đến với Khách sạn Hoàng Gia</h1>
              <h2 class="caption">Khách Sạn &amp; Khu Nghỉ Dưỡng</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="site-blocks-cover overlay" style="background-image: url({{ url_for('static', filename='images/hero_2.jpg')}});" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center" data-aos="fade">
              <h1 class="mb-2">Trải nghiệm độc đáo</h1>
              <h2 class="caption">Tận hưởng với chúng tôi</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="site-blocks-cover overlay" style="background-image: url({{ url_for('static', filename='images/hero_3.jpg')}});" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center" data-aos="fade">
              <h1 class="mb-2">Thư giãn tại phòng</h1>
              <h2 class="caption">Phòng của bạn, kỳ nghỉ của bạn</h2>
            </div>
          </div>
        </div>
      </div>

    </div>